
 
<body>
    <div class="nav">
        <i class="fa-solid fa-angle-left fa-xl" style="color: #ffffff;"></i>
        <i class="fa-solid fa-user" style="color: #ffffff;"></i>
    </div>

   <div class="div1">
        <input class="search-bar" type="text" placeholder=" Search">
   </div>   

   <app-chats-individuales></app-chats-individuales>

</body>

<footer>
    <div class="pie">
        <a (click)="volverAChats()"><i class="fa-solid fa-comment-dots" style="color: #ffffff;"></i></a>
        <i class="fa-solid fa-users" style="color: #ffffff;"></i>
        <i class="fa-solid fa-phone" style="color: #7774e3;"></i>
        <i class="fa-solid fa-ellipsis" style="color: #ffffff;"></i>
    </div>

</footer>


   
